<button class="pull-right btn btn-primary">
    <span class="float-left btn btn-primary"><h4><%=project.desc_project %></h4></span>
    <span class="float-right btn btn-secondary " data-toggle="modal" data-target="#participants" title="nombre de models"> <i class="fas fa-file-alt fa-2x fa-fw mr-2 text-gray-400" ></i> (<%=model.length %>)</span>
</button>
<div class="container mt-5" style="margin:0px !important;padding: 0px !important">
    <ul class="nav nav-tabs mt-5" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#regex" role="tab" data-toggle="tab">Regex</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#hmm" role="tab" data-toggle="tab">HMM</a>
        </li>
    </ul>

    <div class="tab-content" style="margin:0px !important;padding: 0px !important">
        <div role="tabpanel" class="tab-pane active " id="regex" style="margin:0px !important;padding: 0px !important">
            <form method="POST" action="/model/regex">
                <input type="text" name="type" value="regex" style="visibility:hidden !important"><input type="text" name="id_projet" value="<%=project.id %>" style="visibility:hidden !important">
                <label class="mt-4" style="font-weight: bold">Programming Language 
                            </label> <br>
                <select class="custom-select" name="language" value="php">
                                <option value="null">Choose one language</option>
                                <option value="java">java</option>
                                <option value="php">php</option>
                                <option value="javascript">javascript</option>
                            </select>
                <div class="row mt-5">
                    <div class="form-group green-border-focus col-sm-5">
                        <label for="define" style="font-weight: bold">Define Model</label>
                        <textarea class="form-control" id="define" rows="5" name="definition"></textarea>
                    </div>
                    <div class="form-group green-border-focus col-sm-5">
                        <label for="description" style="font-weight: bold">Description</label>
                        <textarea class="form-control" id="description" rows="5" name="description"></textarea>
                    </div>
                </div>
                <div class="mt-3 btn-group">
                    <button class="btn bg-save pl-5 pr-5" type="submit">Save</button>
                    <button class="btn bg-cancel pl-5 pr-5 ml-4" type="submit">Cancel</button>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="hmm" style="margin:0px !important;padding: 0px !important">
            <form method="POST" action="/model/hmm">
                <input type="text" name="type" value="hmm" style="visibility:hidden !important"><input type="text" name="id_projet" value="<%=project.id %>" style="visibility:hidden !important">
                <label class="mt-4" style="font-weight: bold">Programming Language 
                            </label> <br>
                <select class="custom-select" name="language">
                                <option value="null">Choose one language</option>
                                <option value="java">java</option>
                                <option value="php">php</option>
                                <option value="javascript">javascript</option>
                            </select>
                <div class="mt-4">
                    <label style="font-weight: bold">description Model</label>
                    <input type="text" class="form-control" name="description">
                </div>
                <div class="mt-4">
                    <label style="font-weight: bold">HMM states</label>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Pre</label><br>
                            <input type="text" class="form-control" name="pre">
                        </div>
                        <div class="col-sm-3">
                            <label>Target</label><br>
                            <input type="text" class="form-control" name="target">
                        </div>
                        <div class="col-sm-3">
                            <label>Post</label><br>
                            <input type="text" class="form-control" name="post">
                        </div>
                        <div class="col-sm-3">
                            <label>Other</label><br>
                            <input type="text" class="form-control" name="other">
                        </div>

                    </div>
                </div>
                <div class="mt-4">
                    <label style="font-weight: bold">Datasource</label><br>
                    <label>For model training</label><br>
                    <div class="mt-2 custom-file" style="width: 28em !important;">
                        <label style="color:black" class="custom-file-label">choose a file</label> <br>
                        <input type="file" class="custom-file-input" name="file_training" onchange="selectFolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
                    </div>
                </div>

                <div class="mt-4">
                    <label>Choose the training algorithm</label><br>
                    <select class="custom-select" name="algo_training">
                                   <option>algorithm</option>
                                   <option value="1">algorithm 1</option>
                                   <option value="2">algorithm 2</option>
                                   <option value="3">algorithm 3</option>
                               </select>
                </div>
                <div class="mt-3 btn-group">
                    <button class="btn btn-secondary pl-5 pr-5 ml-4" style="margin-rigth:1.5% !immportant">Reference model</button>
                    <button type="button" class="btn bg-save pl-5 pr-5 " onclick="showParameters()">Train the model</button>
                    <button class="btn bg-cancel pl-5 pr-5 ml-4" type="reset">Cancel</button>
                </div>
                <div class="mt-5 " id="parameters">
                    <h5 style="color: black; font-weight: bold" class="mb-3">HMM Parameters</h5><br>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 style="color: black; font-weight: bold">Init</h6><br>
                            <table class="table table-md " style="width: 30em">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">PRE</th>
                                        <th scope="col">TARGET</th>
                                        <th scope="col">POST</th>
                                        <th scope="col">OTHER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Lorem</td>
                                        <td>Lorem</td>
                                        <td>Lorem</td>
                                        <td>Lorem</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <h6 style="color: black; font-weight: bold">Transitions</h6><br>
                            <table class="table table-md" style="width: 30em">
                                <thead class="thead-light">
                                    <tr>
                                        <th></th>
                                        <th scope="col">PRE</th>
                                        <th scope="col">TARGET</th>
                                        <th scope="col">POST</th>
                                        <th scope="col">OTHER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">PRE</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">TARGET</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">POST</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">OTHER</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <h6 style="color: black; font-weight: bold">Observations</h6><br>
                        <table class="table table-md" style="width: 30em">
                            <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    <th scope="col">Item A</th>
                                    <th scope="col">Item B</th>
                                    <th scope="col">Item C</th>
                                    <th scope="col">Item D</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">PRE</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th scope="row">TARGET</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th scope="row">POST</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th scope="row">OTHER</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-3 mb-3 btn-group">
                        <button class="btn bg-save pl-5 pr-5 " type="submit">Save model</button>
                        <button class="btn bg-cancel pl-5 pr-5 ml-4" type="reset">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="modal fade" id="participants" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog mondal-lg " role="document">
        <div class="modal-content mondal-lg">
            <div class="modal-header mondal-lg">
                <button type="button" class="close float-right btn-xs btn" data-dismiss="modal" style="padding: 0px !important">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body mondal-lg">
                <div class="list-group">
                    <% 
                              for (let index = 0; index < model.length; index++) {
                          %>

                        <p class="list-group-item-heading">
                            <b>Type Model:</b>
                            <%=model[index].type %>
                        </p>
                        <p style="color:gray" class="list-group-item-text">
                            <b>Language:</b>
                            <%=model[index].language %>
                        </p>
                        <p style="color:gray" class="list-group-item-text">
                            <code class="btn btn-warning btn-xs" data-toggle="modal" data-target="#<%=model[index].id %>">more</code>
                            <div class="modal fade" id="<%=model[index].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog mondal-lg ">
                                    <div class="modal-content mondal-lg">
                                        <div class="modal-header mondal-lg">
                                            <h6 class="modal-title" style="margin-left:20%;margin-right:20%"><b style="float:none !important">More Model Information</b></h6>
                                        </div>
                                        <div class="modal-body mondal-lg">
                                            <%if (model[index].type=='regex'){%>
                                                <table>
                                                    <tr>
                                                        <td><b>type</b></td>
                                                        <td>
                                                            <%=model[index].type%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Language</b></td>
                                                        <td>
                                                            <%=model[index].language%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Definition</b></td>
                                                        <td>
                                                            <%=model[index].definition%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Description</b></td>
                                                        <td>
                                                            <%=model[index].description%>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <%}else{%>
                                                    <table>
                                                        <tr>
                                                            <td><b>type</b></td>
                                                            <td>
                                                                <%=model[index].type%>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Language</b></td>
                                                            <td>
                                                                <%=model[index].language%>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b><u>Definition HMM:</u></b></td>
                                                            <td>
                                                                <tr>
                                                                    <td><b>Pre:</b></td>
                                                                    <td>
                                                                        <%=model[index].definition.pre%>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Post:</b></td>
                                                                    <td>
                                                                        <%=model[index].definition.post%>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>target:</b></td>
                                                                    <td>
                                                                        <%=model[index].definition.target%>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>Other:</b></td>
                                                                    <td>
                                                                        <%=model[index].definition.other%>
                                                                    </td>
                                                                </tr>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                        <span style="border:1px black solid;width: 100% !important;height: 1px !important;float:right !important"></span>

                        <%}%>
                </div>

            </div>
        </div>
    </div>
</div>
<span style="display:none" id="roomID"><%=room %></span>
<span style="display:none" id="userID"><%=user.id %></span>
<span style="display:none" id="userName"><%=user.username %></span>
<% include chat.ejs%>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="bootstrap-4.1.2-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
    </body>

    </html>